.tic-container {
  text-align: center;
  margin-top: 40px;
  font-family: Arial;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 8px;
  justify-content: center;
  margin: 20px auto;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 2.5rem;
  color: red;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

.cell:hover {
  background: #e0e0e0;
}

.result {
  margin-top: 15px;
  font-size: 1.3rem;
  font-weight: bold;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background: #1976d2;
  color: white;
  border-radius: 8px;
  transition: 0.25s;
}

.btn:hover {
  background: #004ba0;
}
